/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}


/* html {
    /* scroll-behavior: smooth; */


/* CSS Variables */

:root {
    --navbar-height: 59px;
}


/* Navigation Bar */

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 28px;
    margin: 46px 34px;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font: 1.3rem;
}

#navbar ul li a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 3px 22px;
    border-radius: 3px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: rgb(243, 243, 243);
    background-color: black;
}

#HOME {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 600px;
    justify-content: center;
    align-items: center;
}

#HOME::before {
    content: "";
    background: url(1.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#HOME h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
}

#HOME p {
    color: rgb(2, 1, 1);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

#services {
    margin: 10px;
    display: flex;
}

#services .box {
    border: 2px solid rgb(0, 0, 0);
    padding: 34px;
    margin: 2px 55px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box {
    border: 2px solid rgb(0, 0, 0);
    padding: 34px;
    margin: 2px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box1 img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box1 {
    border: 2px solid rgb(0, 0, 0);
    padding: 34px;
    margin: 2px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box1 img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box2 {
    border: 2px solid rgb(0, 0, 0);
    padding: 34px;
    margin: 2px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box2 img {
    height: 160px;
    margin: auto;
    display: block;
}

.h-primarycon {
    text-align: center;
    font-size: 2rem;
    padding: 12px;
}

.h-sec {
    text-align: center;
    font-size: 3.8rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 5px solid black;
    border-radius: 4px;
    background-color: black;
    color: aliceblue;
    margin: 17px;
    font-size: 1rem;
    cursor: pointer;
}

.center {
    text-align: center;
}

#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('6.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 40px;
}

#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact.jpg') no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1rem;
    font-family: 'Bree Serif', serif;
}