body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('clg.webp');
    background-size: cover;
}

h1 {
    color: white;
}

header {
    background-color: #0e2542;
    color: #333;
    text-align: center;
    padding: 20px;
}

header img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

nav {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #051149;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #0c2442;
    color: #fff;
}

main {
    background-color: rgba(5, 3, 3, 0.4);
    padding: 8px;
    margin-top: 215px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

button {
    background-color: #091a49;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #333;
}

footer {
    background-color: rgba(5, 3, 3, 0.8);
    color: #fff;
    text-align: center;
    padding: 20px;
}